<%--
  Created by IntelliJ IDEA.
  User: radouane
  Date: 4/12/23
  Time: 4:11 PM
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<nav>
    <ul>
        <li><a href="dashboard-servlet">Gestion des livres</a></li>
        <li><a href="dashboard-servlet">Liste des Livres</a></li>
        <li><a href="dashboard-auteurs-servlet">Liste des auteurs</a></li>
    </ul>
    <ul>
        <li>
            <h1>Admin - ${sessionScope.get('login')} </h1>
        </li>
        <li>
            <form action="authentification-servlet" method="get" >
                <input type="submit" value="Log Out" class="logout">
            </form>
        </li>
    </ul>
</nav>

